We have a table full of data however the data is not organize in a way we want them to be in. The labels are split across multiple columns and the statistical data is in the wrong column as well

In [191]:
import pandas as pd
import string
import numpy as np

list_data = [['This', 'Should', 'Be', 4.55,6], ['With','That',7,8.6,9]]
df = pd.DataFrame(list_data, columns=[x for x in string.ascii_uppercase[:5]])
df

      A       B   C     D  E
0  This  Should  Be  4.55  6
1  With    That   7  8.60  9

This is what we want it to look like

In [192]:
list_data = [['This Should Be', 4.55, '', 6], ['With That', 7,8.6, 9]]
df = pd.DataFrame(list_data, columns=[x for x in string.ascii_uppercase[:4]])
df

                A     B    C  D
0  This Should Be  4.55       6
1       With That  7.00  8.6  9

What we want to do is get column A, B and C into column A, and column D should be in column B if column C is blank

First we will combine all the the columns into one string each

In [193]:
col = df.columns
df2 = list(df[col].apply(lambda row: ' '.join(row.values.astype(str)).strip(),axis=1))
df2

['This Should Be 4.55  6', 'With That 7.0 8.6 9']

Next we split the string between word and numberbs

In [194]:
import re
df3 = [re.split(r'(\d*\.\d+|\d+)',var) for var in df2]
df3

[['This Should Be ', '4.55', '  ', '6', ''],
 ['With That ', '7.0', ' ', '8.6', ' ', '9', '']]

We also have to remove all space from the list

In [195]:
l1 = [[j for j in i if j.strip()] for i in df3]
l1

[['This Should Be ', '4.55', '6'], ['With That ', '7.0', '8.6', '9']]

Lets see what the dataframe looks like now

In [201]:
df = pd.DataFrame(l1, columns=[x for x in string.ascii_uppercase[:4]])
df

                 A     B    C     D
0  This Should Be   4.55    6  None
1       With That    7.0  8.6     9

Now we want to set column D to column C if colunm D is None

In [202]:
df.loc[df.D.isnull(), 'D'] = df['C'] #cant use None, its not the same
df

                 A     B    C  D
0  This Should Be   4.55    6  6
1       With That    7.0  8.6  9

Finally, if colum C equals column D, then set C as an empty cell

In [204]:
df.loc[df.D == df.C, 'C'] = ""
df

                 A     B    C  D
0  This Should Be   4.55       6
1       With That    7.0  8.6  9