We have a table full of data however the data is not organize in a way we want them to be in. The labels are split across multiple columns and the statistical data is in the wrong column as well

In [3]:
import pandas as pd
import string

list_data = [['This', 'Should', 'Be', 5,6], ['With','That',7,8,9]]
df = pd.DataFrame(list_data, columns=[x for x in string.ascii_uppercase[:5]])
df

      A       B   C  D  E
0  This  Should  Be  5  6
1  With    That   7  8  9